
run = "cd backend && npm install && npm run dev & cd frontend && npm install && npm run dev"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && node src/app.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 80

[[ports]]
localPort = 5175

[[ports]]
localPort = 6379

[[ports]]
localPort = 36941
externalPort = 3002

[[ports]]
localPort = 39029
externalPort = 3003

[[ports]]
localPort = 40189
externalPort = 6000

[[ports]]
localPort = 42271
externalPort = 4200

[[ports]]
localPort = 44023
externalPort = 6800

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 39107265

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run start & cd frontend && npm run dev"
